{{ block "pages/pricing.html" . }}
    <div class="p-4 pt-2 h-full">
        <div id="pricing-section" class="p-4 h-full flex justify-center items-center">
            <div>
                <div class="grid grid-cols-1">
                    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Designed
                            for
                            business teams like yours</h2>
                        <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Here at Flowbite we focus
                            on
                            markets where technology, innovation, and capital can unlock long-term value and drive
                            economic
                            growth.</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-6">
                    {{ range .PricingCards }}
                        {{ template "pricing-card" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}

{{ block "pricing-card" . }}
    <!-- Pricing Card -->
    <div class="card bg-base-200 hover:bg-neutral-focus p-6 mx-auto max-w-lg text-center rounded-lg border shadow-xl">
        <h3 class="mb-4 text-2xl font-semibold">{{ .Title }}</h3>
        <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{{ .Description }}</p>
        <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">{{ .Price }}</span>
            <span class="text-gray-500 dark:text-gray-400">/month</span>
        </div>
        <!-- List -->
        <ul role="list" class="mb-8 space-y-4 text-left">
            {{ range .Elements }}
                {{ template "pricing-list-element" . }}
            {{ end }}
        </ul>
        <a href="#"
           class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Get
            started</a>
    </div>
{{ end }}
{{ block "pricing-list-element" . }}
    <li class="flex items-center space-x-3">
        <!-- Icon -->
        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
             fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
        </svg>
        <span>{{ .Text }}</span>
    </li>
{{ end }}