{{ block "grid-table" . }}
    <table class="table table-pin-rows">
        <thead class="text-xs">
        <tr class="bg-base-200">
            <th scope="col" class="px-6 py-3">
                Recent Projects
            </th>
            <th scope="col" class="px-6 py-3">
                Color
            </th>
            <th scope="col" class="px-6 py-3">
                Category
            </th>
            <th scope="col" class="px-6 py-3">
                Price
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover">
            <th scope="row"
                class="px-6 py-4">
                Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
                Silver
            </td>
            <td class="px-6 py-4">
                Laptop
            </td>
            <td class="px-6 py-4">
                $2999
            </td>
            <td class="px-6 py-4 text-right">
                <a href="#" class="link link-info link-hover">Edit</a>
            </td>
        </tr>
        <tr class="hover">
            <th scope="row"
                class="px-6 py-4">
                Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
                White
            </td>
            <td class="px-6 py-4">
                Laptop PC
            </td>
            <td class="px-6 py-4">
                $1999
            </td>
            <td class="px-6 py-4 text-right">
                <a href="#" class="link link-info link-hover">Edit</a>
            </td>
        </tr>
        <tr class="hover">
            <th scope="row"
                class="px-6 py-4">
                Magic Mouse 2
            </th>
            <td class="px-6 py-4">
                Black
            </td>
            <td class="px-6 py-4">
                Accessories
            </td>
            <td class="px-6 py-4">
                $99
            </td>
            <td class="px-6 py-4 text-right">
                <a href="#" class="link link-info link-hover">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
{{ end }}